.list-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.list-element {
	display: flex;
	align-items: center;
	margin-bottom: 32px;
	padding: 16px 24px;
	border: 1px black solid;
	border-radius: 16px;
}

.list-element img {
	max-width: 200px;
	margin-right: 30px;
}

.list-element button {
	padding: 8px;
	margin-top: 0;
	margin-right: 16px;
	border: 1px black solid;
	font-size: 16px;
	background-color: white;
}

a {
	text-decoration: none;
	color: black;
}

.list-element-first-column {
	flex-grow: 1;
}

.pagination {
	display: flex;
	gap: 15px;
	justify-content: center;
	list-style-type: none;
}
